* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

.screen {
  background-size: cover;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
}

.home {
  background-image: url("/images/universe1.svg");
  height: max-content;
}

.universe {
    background-image: url("/images/universe2.svg");
    height: max-content;

}

.explorer {
    background-image: url("/images/universe3.svg");
    height: max-content;

}

nav {
  margin-top: 4rem;
  margin-left: 7.2rem;
  margin-bottom: 0;
  padding: 0;
  height: fit-content;
  width: fit-content;
}

a {
  margin-left: 3.2rem;
  font-size: 2.2rem;
  text-decoration: none;
  color: #c4c4cc;
}

a:hover {
  font-weight: bold;
  transform: scale(1.1);
}

#app {
  height: 100vh;
  display: grid;
  position: relative;
}

.text-home {
  justify-self: center;
  align-self: center;
  width: fit-content;
  height: fit-content;
  display: grid;
  position: absolute;
  top: 20%;
}

button {
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: 1.4rem;
  background-color: transparent;
  padding: 1.2rem 3.2rem;
  justify-self: center;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
  color: #e1e1e6;
}

button {
  margin-top: 2.4rem;
  justify-self: center;
  color: #ffffff;
}

button:hover {
  background-color: white;
  color: #02799d;
  transform: scale(1.1);
  cursor: pointer;
}

.text-universe,
.text-explorer,
.text-404 {
  margin-left: 10.2rem;
  align-items: center;
  position: absolute;
  display: grid;
}

.text-universe h1,
.text-explorer h1 {
  margin-top: 10.3rem;
}

p {
  width: 64.8rem;
  font-size: 1.6rem;
  text-align: left;
  line-height: 160%;
  margin-top: 1.6rem;
  color: #e1e1e6;
}
