* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(45deg, #190361 0%, #bb00ff 100%);

  display: grid;
  place-items: center;
  height: 100vh; /*por conta do place-item ele ja fica no centro geral*/
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main {
  text-align: center;
  margin-top: -12rem;

  box-shadow: 0px 2rem 5rem rgba(0, 0, 0, 0.8);
}

h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #34355b;
  margin-bottom: 1.4rem;
}

img {
  margin-top: 2rem;
}


#ckClosed:hover {
  animation: shake .3s ;
  animation-iteration-count: 20;
}

@keyframes shake {
  0% {margin-left: 0;}
  25% {margin-left: 10px;}
  50% {margin-left: 0;}
  75% {margin-left: -10px;}
  100% {margin-left: 0;}
  
}



.screen1 {
  border: black 2px solid;
  width: 42.8rem;
  height: 42.4rem;
  padding: 4.8rem 6.4rem 6.4rem;
  background-color: #ffffff;
  border-radius: 5px;
}

p {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;

  color: #34355b;
}

#ckClosed {
  cursor: pointer;
 }

img #ckClosed:hover {
  transform:scale(1.1);
  opacity: 0.7;
}

#ckButton {
  background-color: #ffffff;
}



.screen2 {
  border: black 2px solid;
  width: 42.8rem;
  height: 56.4rem;
  padding: 4.8rem 6.4rem 6.4rem;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 48px, 64px, 48px, 64px;
}

p2 {
  font-family: "Dancing Script";
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #000000;

  text-align: center;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px;
  gap: 10px;

  background: #e4edf1;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);

  width: 29.3rem;
  height: 10.7rem;

  animation: downUp 5s;
}

@keyframes downUp {
  0% {
    opacity: 0;
    transform:translateY(15rem) scale(0);
  }
  100% {
    opacity: 100%;
    transform:translateY(0) scale(1);
  }
}

#ckReset {
  margin-top: 1.7rem;
  background: #ff9500;
  border-radius: 4px;
  width: 17.4rem;
  height: 5.2rem;

  padding: 1.6rem;
  gap:1.4rem

  font-family: "DM Sans";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;

  align-items: center;

  }

#ckReset:hover {
  scale: 1.1;
  transition: .3s;
  background:#c2760b ;
}

.hide {
  display: none;
}
